
body {
  background-color: #1e1e1e;
  
}

h1 {
  color: #f2f2f2;
  font-family: 'Archivo Black', sans-serif;
  font-size: 300px;
  position: relative;
  top: 200px;
  left: 20px;
}

h2 {
  color: #dc143b;
  font-family: 'Archivo Black', sans-serif;
  font-size: 45px;
  position: relative;
  bottom: 790px;
  left: 100px;
}


.nav ul {
list-style-type: none;
}

li {
  display: block;
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  font-size: 60px;
  padding: 12px;
  float: right;
  bottom: 100px;
  right: 50px;
}

li a {
  color: #f2f2f2;
  text-decoration: none;
}

li a:hover {
  color: #dc143b;
}

.Red {
  height: 150px;
  width: 150px;
  background-color: #dc143b;
  position: absolute;
  top: 50px;
  left: 50px;
}

.Purple {
  height: 150px;
  width: 150px;
  background-color: #d54beb;
  position: absolute;
  bottom: 100px;
  right: 450px;
}

.backgroundCat{ 
  position: absolute;
  top: 250px;
  right: 550px;
  z-index: -1;
}


