body {
  background-color: #171717;
  font-family: 'Bebas Neue', cursive;
}

.name {
  color: #ece8e1;
  font-size: 630px;
  position: absolute;
  top: 20%;
  left: 0%;
  padding: 0px;
}

.name:hover {
   background: linear-gradient(-30deg, #bd02b3, #dc143b, #bd02b3);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 800px;
   top: 0%;
}

.nav {
  color: #ece8e1;
  text-decoration: none;
  font-size: 65px;
  padding: 25px;
  text-align: right;
}

li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}


a {
  text-decoration: none;
  color: #ece8e1;
}

a:hover {
  color: #dc143b;
}

a:active {
  color: 000;
}



.title {
  color: #ece8e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
}

.bio {
  color:#ece8e1;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.skills {
    color: #ece8e1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  width: 60%;
  font-size: 45px;
  color: #ece8e1;
  padding: 20px;
}
.skill-container{
  width: 100%;
  background: #ddd;
}
.skill{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.html{
  width: 100%;
  background-color: #4CAF50;
}
.css{
  width: 100%;
  background-color: #2196F3;
}
.js{
  width: 85%;
  background-color: #F44336;
}
@media only screen and (max-width: 760px) {
  .container{
    width: 96%;
  }
}

.socials {
  position: relative;
  top: 1rem;
  text-align: center;
}

.page-footer {
  position: relative;
  top: 70em;
  color: #ece8e1;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid__item {
  background-color: #dc143b;
  padding: 10px;
}

.grid__item > a {
  color: #000;
  padding: 10px;
}

.grid__item > a:hover {
  color: #fff;
}
